In [4]:
import pandas as pd

In [14]:
sample = pd.read_excel('Master.xlsx')
df = pd.read_csv('output.txt', delimiter='\t', header=None)

In [23]:
df[0][543834]

'rectang 250311.9765217,-390012.10265575 250538.0234783,-389837.89734425 rectang 250337.89734425,-390038.0234783 250512.10265575,-389811.9765217 circle 250425,-389925 113.02347830000001'

In [20]:
sample['AutoCAD command'][0]

'rectang -499846.5179544,-499785.79741455 -499603.4820456,-499664.20258545 rectang -499785.79741455,-499846.5179544 -499664.20258545,-499603.4820456 circle -499725,-499725 171.6426315'

,X,Y,L,W,R,Unnamed: 5,Unnamed: 6,starting corner,ending corner,starting corner.1,ending corner.1,AutoCAD command
0,-499725,-499725,243.035909,121.594829,171.642631,NaN,NaN,"-499846.5179544,-499785.79741455","-499603.4820456,-499664.20258545","-499785.79741455,-499846.5179544","-499664.20258545,-499603.4820456","rectang -499846.5179544,-499785.79741455 -4996..."
1,-499275,-499725,246.628531,127.689589,173.314583,NaN,NaN,"-499398.3142654,-499788.8447946","-499151.6857346,-499661.1552054","-499338.8447946,-499848.3142654","-499211.1552054,-499601.6857346","rectang -499398.3142654,-499788.8447946 -49915..."
2,-498825,-499725,250.193517,133.758954,174.972716,NaN,NaN,"-498950.09675865,-499791.8794772","-498699.90324135,-499658.1205228","-498891.8794772,-499850.09675865","-498758.1205228,-499599.90324135","rectang -498950.09675865,-499791.8794772 -4986..."
3,-498375,-499725,253.730868,139.802925,176.617031,NaN,NaN,"-498501.86543415,-499794.90146245","-498248.13456585,-499655.09853755","-498444.90146245,-499851.86543415","-498305.09853755,-499598.13456585","rectang -498501.86543415,-499794.90146245 -498..."
4,-497925,-499725,257.240584,145.821501,178.247529,NaN,NaN,"-498053.62029185,-499797.91075025","-497796.37970815,-499652.08924975","-497997.91075025,-499853.62029185","-497852.08924975,-499596.37970815","rectang -498053.62029185,-499797.91075025 -497..."